
.form-container {
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid #89ebb8;
    padding: 2rem;
    justify-content: left;
    text-align: left;
}
label{
    display: block;
}

input, select {
    display: flex;
    width: 100%;
    margin: 1rem auto;
}

.terms-section {
    align-items: center;
    display:inline-flex;
    width: 50%;
}
.terms-section input {
}

.submit-btn {
    border: none;
    background-color: cornflowerblue;
    padding: 0.5rem;
    min-width: 100px;
    border-radius: 5px;
}